{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load custom_filters %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Все новости и статьи</h1>
   <h3>{% current_time '%d %b %Y' %}}</h3>
   <h3> {{ next_sale|default_if_none:posts|length }} </h3>

    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
        <input type="date" value="Дата публикации" />
   </form>

   <hr>
   {% if posts %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.head }}</td>
               <td>{% current_time '%d %b %Y' %}</td>
               <td>{{ post.text|truncatewords:20|censor }}</td>
               <td>{{ product.price }}</td>
               <td>{{ product.quantity }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}

         <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}